<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

 <!-- a pool based JMS provider -->
 <bean id="jmsFactory" 
        class="org.apache.activemq.ActiveMQConnectionFactory"> 
    <property name="brokerURL">   
      <value>tcp://localhost:61616</value>
    </property>
  
  
 </bean>
 
 <bean id="MQcachedConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
    <property name="targetConnectionFactory" ref="jmsFactory" />
    <property name="reconnectOnException" value="true" />
    <property name="exceptionListener" ref="exceptionListener" />
    <property name="sessionCacheSize" value="1" />
 </bean>
 
 <bean id="exceptionListener" class="com.gama.table.jms.ExceptionListenerTest">
    <property name="cachingConnectionFactory" 
        ref="MQcachedConnectionFactory"   
    /> 
 </bean>
 
 <!-- Spring JMS Template -->
 <bean id="fooJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
   <property name="connectionFactory">
     <ref local="MQcachedConnectionFactory" />
   </property>
   <property name="defaultDestination" ref="fooDestination" />
 </bean>

 <!-- ActiveMQ destination to use by default -->
 <bean id="fooDestination" 
          class="org.apache.activemq.command.ActiveMQTopic">
   <constructor-arg value="TEST.FOO" />
 </bean>

	
	<!-- Spring JMS Template -->
 <bean id="barJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
   <property name="connectionFactory">
     <ref local="MQcachedConnectionFactory" />
   </property>
   <property name="defaultDestination" ref="barDestination" />
 </bean>

 <!-- ActiveMQ destination to use by default -->
 <bean id="barDestination" 
          class="org.apache.activemq.command.ActiveMQTopic">
   <constructor-arg value="TEST.BAR" />
 </bean>
 
<!--  
 <bean id="messageListenerTest" class="com.gama.table.jms.MessageListenerTest" />

 <bean id="listenerContainer"
   class="org.springframework.jms.listener.DefaultMessageListenerContainer">
  <property name="connectionFactory" ref="MQcachedConnectionFactory" />
  <property name="destination" ref="defaultDestination" />
  <property name="messageListener" ref="messageListenerTest" />
  <property name="concurrentConsumers" value="1" />
  <property name="acceptMessagesWhileStopping" value="false" />
  <property name="recoveryInterval" value="10000" />
  <property name="cacheLevelName" value="CACHE_CONSUMER" /> 
 </bean>

 -->
</beans>